<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kobisApiKey</key>
	<string>49bc5ca232e098d6c7fdf2154bc2d160</string>
	<key>omdbApiKey</key>
	<string>7c3ba236</string>
</dict>
</plist>
